/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  

body {
    font-family: "Agdasima", sans-serif;
    margin: 0;
    text-align: center;
    background: url("https://gtwallpaper.org/sites/default/files/wallpaper/224374/europa-moon-wallpapers-224374-1726472-3231023.png"); 
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    width: 100px;
} 

#headline {
    font-family: "Agdasima", sans-serif;
    font-size: 40px;
    color: #fff;
    background-color: #000; 
    border-radius: 10%;
    width: 10em; 
    display: block;
    margin: 200px auto -100px auto; 
}

#hero-section {

    /* STUFF I TRIED OUT  */

    /* font-family: "Agdasima", sans-serif;
    /* background: linear-gradient(to right, #fff, #fff, #fff); */
    /* background: #000; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text;
    color: transparent;
    font-weight: 700;
    text-align: center; */

    font-size: 22px;
    margin-top: 3em;  
    color: #fff;
    background-color: #000; 
    border-radius: 17%; 
    margin: 10%;
    width: auto;
    padding: 2px;
} 


