/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

Setting background color 
.element {
    background-color: blue;
}

Setting background image size 
.element-with-image {
    background-image: url('image.jpg');
    background-size: cover;
}

Using shorthand to set multiple background properties 
.element-shorthand {
    background: url('image.jpg') no-repeat center/cover blue;
}


*/

.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Agdasima", sans-serif;
    margin: 0;
    text-align: center;
    background-color: #495057;
}

p {
    font-size: 30px;
}

h4 {
    font-size: 40px;
}

h3 {
    font-size: 50px;
}

img {
    width: 100%;
    height: 7em;
    max-width: 300px;
    border-radius: 50%;
    object-fit: none;
} 

.hero-section {
    background: url("https://gtwallpaper.org/sites/default/files/wallpaper/224374/europa-moon-wallpapers-224374-1726472-3231023.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7%; 
}

#headline {
    font-family: "Agdasima", sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #000; 
    border-radius: 20px;
    width: 30%;
    max-width: 425px; 
    display: block;
    margin: 90px auto 20px auto; 
    padding: 2px;
    max-height: 120px;
    height: 30%; 
    line-height: 0.1;
    max-width: 325px;
    width: 50%;
}

#subtitle-section {
    font-size: 22px;
    margin: 2% auto 7% auto; /* Centered with auto margins */
    color: #fff;
    background-color: #000; 
    border-radius: 20px; /* Slight radius for rectangle shape */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 900px; /* Maximum width for larger screens */
    padding: 0 30px 0 30px; /* Added padding for better appearance */
    overflow: hidden; /* Prevent overflow */
    max-height: 190px;
    height: fit-content;
} 

#activities-section {
    font-size: 47px;
    color: #fff;
    margin: 2em;
}

.activities-wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 2em 0;
}

.activities-wrapper > img,
.activities-wrapper > h4,
.activities-wrapper > p {
    flex: 1 1 30%; 
    margin: 0 10px;
}

.activities-wrapper > img {
    order: 1;
    margin-bottom: 1.5em;
    border: 7px solid #A8DADC;
}

.activities-wrapper > h4 {
    order: 2;
}

.activities-wrapper > p {
    order: 3;
}

.guide-background-layer {
    background: #fff;
}

#guide-section {
    background: #fff;
    max-height: 820px;
    height: 100%;
    display: inline-block;
    margin: 12%;
}

#card {
    background: #A8DADC;
    border-bottom: 12px solid #000;
    border-radius: 30px;
    font-size: 32px;
    color: #000;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 600px;
    max-height: 500px;
    padding: 20px;
}

.text-content {
    order: 2;
}

.quote {
    font-style: italic;
}

#card > img {
    height: 100%;
    flex: 1 1 50%; 
    border-radius: 0px;
    max-width: 100%; 
}

@media (max-width: 2000px) {
    .activities-wrapper {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 1559px) {
    .activities-wrapper {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1189px) {
    .activities-wrapper {
        display: block;
    }

    
    .activities-wrapper > img {
        margin-top: 2em;
    }
}

@media (max-width: 924px) {
    #headline, #subtitle-section {
        width: 90%; 
    }
    
    .activities-wrapper > img {
        max-width: 4.5em;  
        height: 4.5em;
    }

    .activities-wrapper > img,
    .activities-wrapper > h4,
    .activities-wrapper > p {
        /* flex: 1 1 30%; */
    }

    #card { 
        align-items: center; 
    }

    #card > img {
        max-width: 80%; 
    }
}

@media (max-width: 480px) {
    p {
        font-size: 20px;
    }

    h4 {
        font-size: 30px;
    }

    h3 {
        font-size: 50px; 
    }

    .activities-wrapper {
        padding: 0px;
        margin-left: -20px; 
        margin-top: 0px;
    }

    .activities-wrapper > p {
        font-size: 30px;
        margin-top: 22%;
    }

    #card > img {
        max-width: 50%; 
        object-fit: cover;
    }
}

@media (max-width: 375px) {
    h2 {
        padding: 12px;
    }
    #subtitle-section {
        font-size: 16px;
        padding: 0px;
    }
}







