/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

Setting background color 
.element {
    background-color: blue;
}

Setting background image size 
.element-with-image {
    background-image: url('image.jpg');
    background-size: cover;
}

Using shorthand to set multiple background properties 
.element-shorthand {
    background: url('image.jpg') no-repeat center/cover blue;
}


*/

.agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Agdasima", sans-serif;
    margin: 0;
    text-align: center;
    background-color: #495057;
}

img {
    width: 100px;
} 

.hero-section {
    background: url("https://gtwallpaper.org/sites/default/files/wallpaper/224374/europa-moon-wallpapers-224374-1726472-3231023.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7%;
}

#headline {
    font-family: "Agdasima", sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #000; 
    border-radius: 20px;
    width: 30%;
    max-width: 425px; 
    display: block;
    margin: 190px auto 20px auto; 
    padding: 2px;
    max-height: 120px;
    height: 30%; 
    line-height: 0.1;
    max-width: 325px;
    width: 50%;
}

#subtitle-section {
    font-size: 22px;
    margin: auto; /* Centered with auto margins */
    color: #fff;
    background-color: #000; 
    border-radius: 20px; /* Slight radius for rectangle shape */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 900px; /* Maximum width for larger screens */
    padding: 0 30px 0 30px; /* Added padding for better appearance */
    overflow: hidden; /* Prevent overflow */
    max-height: 190px;
    height: fit-content;
} 

#activities-section {
    font-size: 42px;
    color: #fff;
    margin: 6em auto 0 0; 
}

#guide-section {
    font-size: 32px;
    color: #fff;
}


